# Version control
.git
.gitignore

# Dependencies
node_modules

# Documentation
README.md

# Development files
.next
.husky
.vscode
coverage

# Environment files
.env*
!.env.example

# Required files (do not ignore)
!ecosystem.config.cjs
!public/locales
